﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Caseowary</h1>
    <p class="lead">The caseowaries (IPA: /,keɪsɵwæri/) are ratites (flightless birds without a keel on their sternum bone) in the genus <em>Casuarius</em> native to the tropical forests of New Guinea, nearby islands, and northeastern Australia. </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Description</h2>
        <p>
            The Northern and Dwarf Cassowaries are not well known. All cassowaries are usually shy birds of the deep forest, adept at disappearing long before a human knows they are there.
            </p>
        <p>There are three extant species recognized today. 
</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Distribution and habitat</h2>
        <p>The most common of these, the Southern caseowary, is the third tallest and second heaviest living bird, smaller only than the ostrich and emu.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Behaviour and ecology</h2>
        <p>Caseowaries feed mainly on fruit, although all species are truly omnivorous and will take a range of other plant food including shoots, and fungi in addition to invertebrates and small vertebrates. Caseowaries are very shy, but when provoked they are capable of inflicting injuries to dogs and people.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>